<ion-view title="Configurations">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="content has-header">

      <ul class="list">
       
        <li class="item item-toggle">
           Auto Refresh Map
           <label class="toggle toggle-balanced">
             <input type="checkbox"  ng-model="checked" ng-change="onChange(checked)">
             <div class="track" checked>
               <div class="handle" ></div>
             </div>
           </label>
        </li> 
      </ul>

    </div>
    
    </ion-content>
</ion-view>