 <style>

.scroll {
  min-height: 100%;
}
</style>


<ion-view title="My Channel">
    <ion-content overflow-scroll="true" padding="true"  class="has-header scroll">
    
        <h4>Online Users</h4>
        <ul>
          <li ng-repeat="user in users">{{user}}</li>
        </ul>
        
        <h4>Chat Messages {{messages.length}}</h4>
         
     
            
         <div class="item item-input-inset">
            <label class="item-input-wrapper"> 
                <input type="text" ng-model="myMessage" />
            </label>
         <input type="submit" value="Send" class="button button-small" ng-click="publish(myMessage)"/>
  
         </div> 
        
          
      <ul>
          <li ng-repeat="message in messages">{{message}}</li>
      </ul>
        
    
        
     
    </ion-content>
</ion-view>