<ion-view title="Weather">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-stable button-block  icon-right ion-ios-reload" ng-click="refresh()">Refresh</button>
        
        <div style="float: middle;align-content:center">
                       
            <img src='http://openweathermap.org/img/w/{{IconId}}.png'  height="150" width="150">
          <div style="display: block; clear: left; font-size: medium; font-weight: bold; padding: 0pt 3pt;" title="Current Temperature">{{Temperature}}&ordm;</div>
          <div style="display: block; width: 85px; overflow: visible;"></div>
          <p id="city">City: {{City}}, Country: {{Country}}</p>
          <p id="description">Description:{{Description}}</p>
          <p>Wind speed:{{WindSpeed}}Km/h</p> 
          <p>get at {{Time | date:'medium'}}</p>  

 
    </ion-content>
</ion-view>